html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-background-size: cover!important;
  -moz-background-size: cover!important;
  -o-background-size: cover!important;
  background-size: cover!important;
  line-height: 1;
  font: 13px lato_regular;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

sup {
  position: relative;
  top: -4px;
  font-size: 12px;
}

.main_wrapper {
  min-height: 100%;
  position: relative; }

.main_container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.main_section {
    min-width: 1150px;
}
.header {
  height: 80px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

.header .languages ul {
  display: table;
  float: right;
  border: 1px solid #eaeaea;
  margin: 55px 0 0;
  background: #ffffff; }

.header .languages ul li {
  height: 26px;
  width: 33px;
  padding: 4px 0;
  float: left;
  list-style: none;
  text-align: center; }

.header .languages ul li a {
  text-transform: uppercase;
  color: #8d8d8d;
  font-size: 11px;
  padding: 7px 9px 6px; }

.header .languages .active {
  background: #f6f6f6; }

.header .header_menu {
  position: absolute !important;
  bottom: 0;
  padding-right: 100px;
  background: #ffffff;
  min-width: 1150px}

.header .header_menu ul {
  margin: 0 auto;
  /*float: right;*/
  display: table; }

.header .header_menu ul li {
  float: left;
  list-style: none;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 24px 0 20px;
}

.header .header_menu ul .news_block_icon {
  padding: 19px 10px 8px;
  background: #fbfbfb;
  border-right: 1px solid #f3f3f3;
  border-left: 1px solid #f3f3f3;
  float: left; }

.header .header_menu ul .news_block_icon img {
  margin: 0; }

.header .header_menu ul .news_block {
  padding: 17px 10px 11px;
  float: right; }

.header .header_menu ul .news_block p {
  margin: 0; }

.header .header_menu ul .news_block span {
  font-size: 12px;
  color: #a68858;
  text-transform: none; }

.header .header_menu li .header_separator {
    float: left;
    width: 6px;
    position: relative;
    top: 5px;
    border-radius: 40%;
    height: 6px;
    border: 2px solid rgba(224, 224, 224, 0.7);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.header .header_menu li a {
  color: #3e312a;
  padding: 23px 0 18px;
  text-decoration: none;
  margin-left: 13px}

.header .header_menu li a:hover {
  color: #38bad4;
  border-bottom: 2px solid #38bad4; }

.header .header_menu li:hover {
  /*border-bottom: 2px solid #38bad4;*/ }

.header .header_menu li:last-child:hover {
  border-bottom: none; }

.header .header_menu .active {
  /*border-bottom: 2px solid #38bad4;*/ }

.header .header_menu .active a {
  color: #38bad4;
  border-bottom: 2px solid #38bad4; }

.header .header_menu li.logo img {
  width: 63px }

.header .header_menu li img {
  margin: 0 13px 0 0;
  position: relative;
  bottom: 2px; }

.header .header_menu .logo {
    padding: 0;
    margin: 10px 125px 0 0;
}
.header .header_menu .logo a {
    padding: 0;
}
.header .header_menu .logo a:hover {
    border: none;
}
.header .header_rightside_btns {
    position: absolute;
    right: 15px;
    top: 0;
    height: 60px;
    padding: 23px 10px 19px;
    border-left: 2px solid #a68858;
}
.header .header_login_btn {
    color: #3e312a;
    margin: 0 10px;
    padding: 19px 0 19px;
    text-decoration: none;
    text-transform: uppercase;
}
.header .header_login_btn:hover {
    color: #38bad4;
    border-bottom: 2px solid #38bad4;
}

.right_sidebar_container {
  padding: 0;
  float: right;
  /*width: 100%;*/
  /*transition: width 1s linear;*/
  /*-webkit-transition: width 1s linear; */
  /* Safari and Chrome */
  /*-moz-transition: width 1s linear; */
  /* Firefox 4 */
  /*-o-transition: width 1s linear; */
  /* Opera */ }

.sidebar_hidden .right_sidebar_container {
  /*width: 0;*/
  /*-webkit-transition: width 1.5s;*/
  /*-moz-transition: width 1.5s;*/
  /*-ms-transition: width 1.5s;*/
  /*-o-transition: width 1.5s;*/
  /*transition: width 1.5s;*/ }

.right_sidebar {
  background-color: rgba(48, 41, 37, 0.8);
  /*margin-right: -15px;*/
  padding: 190px 60px 90px 60px;
  display: table;
  float: right;
  position: relative;
  width: 610px;
  min-height: 100vh;
  line-height: 1.5;
}

.sidebar_parent {
  display: table;
  float: right;
  margin-right: -15px;
  position: relative; }

.show_hide_sidebar_btn {
  position: absolute;
  top: 85px;
  left: -43px;
  height: 43px;
  width: 43px;
  background: rgba(201, 165, 112, 0.8) url("../img/sidebar_hide_show_arrow.png");
  float: right;
  cursor: pointer;
  z-index: 2; }

.sidebar_hidden .show_hide_sidebar_btn {
  -moz-transform: rotate(180deg);
  /* Mozilla */
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari */
  -o-transform: rotate(180deg);
  /* Opera */
  transform: rotate(180deg);
  /*-ms-transform: translate(50px,100px); */
  /* IE 9 */
  /*-webkit-transform: translate(50px,100px); */
  /* Safari */
  /*transform: translate(50px,100px); */
  /* Standard syntax */
  /*-moz-transition: all .2s ease-in-out;*/
  /*-ms-transition: all .2s ease-in-out;*/
  /*-webkit-transition: all .2s ease-in-out;*/
  /*-o-transition: all .2s ease-in-out;*/
  /*transition: all .2s ease-in-out;*/ }

.page_icon {
  float: left;
    width: 50px;
    height: 30px;
    background: url("/img/ornament.svg") no-repeat;
    background-size: 42px;
}

.right_sidebar h3 {
  color: #ffffff;
  font-size: 27px;
  padding: 0 0 25px 50px; }

.right_sidebar h4 {
  font-size: 24px;
  color: #efc581;
  padding: 70px 0 10px; }

.right_sidebar ul li,
.right_sidebar span {
  color: #E7D0AA;
  font-size: 16px; }

.right_sidebar p {
  font-size: 16px;;
  color: #cbc4be; }

.footer {
  width: 100%;
    min-width: 1150px;
  /*height: 40px;*/
  position: absolute;
  bottom: 0 ;
  left: 0;
  background: #fafafa;
  color: #8d8d8d;
  z-index: 1; }

.footer ul li {
  float: left;
  font-size: 13px; }

.footer ul li a {
  font-size: 13px;
  float: left;
  color: #8d8d8d;
  padding: 16px 0 11px 10px; }

.footer ul li a:hover {
  color: #6f6f6f; }

.footer ul li:nth-child(2) {
  padding-left: 24px; }

.footer ul li a img {
  margin-right: 1px;
  margin-bottom: 2px; }

.footer .copyright {
  border-right: 1px solid #e3e3e3;
  padding: 16px 24px 11px 13px; }

/*flexSlider customizations START*/
.flexslider {
  border-radius: 0;
  border: none;
  margin: 0;
  height: 100%;
  background: none; }

.flex-direction-nav a {
  height: 68px;
  width: 50px;
  margin: -34px 0 0;
  outline: none;
}

.flex-direction-nav a.flex-prev {
  background: url("/img/homepage/offers/offer_arrow_prev.png") no-repeat left; }

.flex-direction-nav a.flex-next {
  background: url("/img/homepage/offers/offer_arrow_next.png") no-repeat right; }

.flex-direction-nav a:before {
  display: none; }

.flex-direction-nav .flex-next {
  right: 0; }

.flexslider:hover .flex-direction-nav .flex-next {
  right: -50px; }

.flex-direction-nav .flex-prev {
  left: 0; }

.flexslider:hover .flex-direction-nav .flex-prev {
  left: -50px; }

/*flexSlider customizations END*/


/*room select block START*/
.rooms_types_section {
    display: none;
    position: absolute;
    top: 80px;
    width: 100%;
    min-width: 1150px;
    z-index: 3;
    background-color: rgba(48, 41, 37, 1);
}
.rooms_types_buttons {
    display: table;
    margin: 0 auto;
    padding: 25px 0;
}

.room_type {
    text-align: center;
    width: 188px;
    float: left;
    font: 14px lato_regular;
    color: #ffffff;
    text-transform: uppercase;
}
.room_type h5 {
    cursor: pointer;
}
.room_type a {
    /*font-family: lato_black;*/
    /*color: #ffffff;*/
    display: block;
    /*padding: 10px;*/
    width: 100px;
    margin: 15px auto 0;
    /*background-color: #453f3b;*/
}
.room_type a img {
    width: 100px;
    height: 67px;
}
.room_type.active h5,
.room_type h5:hover {
    color: #3abbd5;
}
.room_type.active a,
.room_type a:hover {
    background-color: #3abbd5;
    text-decoration: none;
}
/*room select block END*/

/*# sourceMappingURL=common_styles.css.map */
