
@font-face {
    font-family: 'open_sans_light';
    src: url('/fonts/open_sans/open_sans_light/OpenSans-Light.eot');
    src: url('/fonts/open_sans/open_sans_light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/open_sans/open_sans_light/OpenSans-Light.woff') format('woff'),
    url('/fonts/open_sans/open_sans_light/OpenSans-Light.ttf') format('truetype'),
    url('/fonts/open_sans/open_sans_light/OpenSans-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans_regular';
    src: url('/fonts/open_sans/open_sans_regular/OpenSans-Regular.eot');
    src: url('/fonts/open_sans/open_sans_regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/open_sans/open_sans_regular/OpenSans-Regular.woff') format('woff'),
    url('/fonts/open_sans/open_sans_regular/OpenSans-Regular.ttf') format('truetype'),
    url('/fonts/open_sans/open_sans_regular/OpenSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_bold';
    src: url('/fonts/open_sans/open_sans_bold/OpenSans-Bold.eot');
    src: url('/fonts/open_sans/open_sans_bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/open_sans/open_sans_bold/OpenSans-Bold.woff') format('woff'),
    url('/fonts/open_sans/open_sans_bold/OpenSans-Bold.ttf') format('truetype'),
    url('/fonts/open_sans/open_sans_bold/OpenSans-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serif_light';
    src: url('/fonts/pt_serif/pt_serif_light/pt_serif_light.eot');
    src: url('/fonts/pt_serif/pt_serif_light/pt_serif_light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/pt_serif/pt_serif_light/pt_serif_light.woff') format('woff'),
    url('/fonts/pt_serif/pt_serif_light/pt_serif_light.ttf') format('truetype'),
    url('/fonts/pt_serif/pt_serif_light/pt_serif_light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_serif_regular';
    src: url('/fonts/pt_serif/pt_serif_regular/pt_serif_regular.eot');
    src: url('/fonts/pt_serif/pt_serif_regular/pt_serif_regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/pt_serif/pt_serif_regular/pt_serif_regular.woff') format('woff'),
    url('/fonts/pt_serif/pt_serif_regular/pt_serif_regular.ttf') format('truetype'),
    url('/fonts/pt_serif/pt_serif_regular/pt_serif_regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
