input, select, textarea {
    border: none;
    background: #fbfbfb;
    height: 34px;
    width: 100%;
    max-width: 100%;
    outline: none;
    color: #4d4d4d;
    padding-left: 20px;
    font-size: 15px;
}
textarea {
    padding-top: 10px;
    height: 70px;
    resize: none;
}
button {
    width: auto;
    border: none;
    height: 47px;
    border-radius: 2px;
    padding: 0 43px;
    background: -webkit-linear-gradient(#a37bc8, #8257a0);
    background: -o-linear-gradient(#a37bc8, #8257a0);
    background: -moz-linear-gradient(#a37bc8, #8257a0);
    background: linear-gradient(#a37bc8, #8257a0);
    outline: none;
}
button span {
    color: #ffffff;
    font-size: 19px;
}
/*input, select, textarea {*/
    /*-webkit-transition: all 0.30s ease-in-out;*/
    /*-moz-transition: all 0.30s ease-in-out;*/
    /*-ms-transition: all 0.30s ease-in-out;*/
    /*-o-transition: all 0.30s ease-in-out;*/
    /*outline: none;*/
/*}*/
.form_placeholder {
    font-size: 12px!important;
    color: #999999;
    margin: 18px 0 5px;
}
.selectboxit span {
    /*padding: 8px 0;*/
    color: #4d4d4d!important;
    font-size: 15px!important;
    /*font-family: 12px lato_black;*/
}


input[type=checkbox]:not(old) {
    display: none;
}
input[type=checkbox]:not(old) + label {
    display      : inline-block;
    font-size: 14px;
    color: #453634;
}
input[type=checkbox]:not(old) + label a{
    font-size: 14px;
    color: #453634;
}
input[type=checkbox]:not(old) + label > span {
    display          : inline-block;
    width            : 16px;
    height           : 16px;
    background-image :    url("/img/checkbox.png");
    vertical-align   : bottom;
    cursor: pointer;
}
input[type=checkbox]:not(old):checked + label > span{
    background-position: 0 16px;
}