input, select, textarea {
    border: none;
    background: #fbfbfb;
    height: 34px;
    width: 100%;
    max-width: 100%;
    outline: none;
    color: #4d4d4d;
    padding-left: 20px;
    font-size: 15px;
}

textarea {
    padding-top: 10px;
    height: 70px;
    resize: none;
}
button {
    width: auto;
    border: none;
    height: 47px;
    border-radius: 2px;
    padding: 0 43px;
    background: -webkit-linear-gradient(#a37bc8, #8257a0);
    background: -o-linear-gradient(#a37bc8, #8257a0);
    background: -moz-linear-gradient(#a37bc8, #8257a0);
    background: linear-gradient(#a37bc8, #8257a0);
    outline: none;
}
button span {
    color: #ffffff;
    font-size: 19px;
}
/*input, select, textarea {*/
    /*-webkit-transition: all 0.30s ease-in-out;*/
    /*-moz-transition: all 0.30s ease-in-out;*/
    /*-ms-transition: all 0.30s ease-in-out;*/
    /*-o-transition: all 0.30s ease-in-out;*/
    /*outline: none;*/
/*}*/
.form_placeholder {
    font-size: 12px!important;
    color: #999999;
    margin: 18px 0 5px;
}
.selectboxit span {
    /*padding: 8px 0;*/
    color: #4d4d4d!important;
    font-size: 15px!important;
    /*font-family: 12px lato_black;*/
}


input[type=checkbox]:not(old) {
    display: none;
}
input[type=checkbox]:not(old) + label {
    display      : inline-block;
    font-size: 14px;
    color: #453634;
}
input[type=checkbox]:not(old) + label a{
    font-size: 14px;
    color: #453634;
}
input[type=checkbox]:not(old) + label > span {
    display          : inline-block;
    width            : 16px;
    height           : 16px;
    background-image :    url("/img/checkbox.png");
    vertical-align   : bottom;
    cursor: pointer;
}
input[type=checkbox]:not(old):checked + label > span{
    background-position: 0 16px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #3e312a;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #3e312a;
    opacity:  0.1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #3e312a;
    opacity:  0.1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #3e312a;
    opacity:  0.1;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color:    #3e312a;
    opacity:  0.1;
}

.btn {
    border: 2px solid #3e312a;
    border-radius: 4px;
    padding: 0;
    background: transparent;
    color: #3e312a;
    height: 36px;
    font: 18px open_sans_regular;
}
.btn:hover {
    background: #3e312a;
    color: #ffffff;
}

/*calendar START*/
    .daterangepicker.dropdown-menu {
        border-top: 1px solid #3e312a;
        border-radius: 0;
        padding: 28px 22px;
        margin-left: -30px;
        margin-top: 5px;
        max-width: 530px!important;
    }
    .daterangepicker.dropdown-menu:before, .daterangepicker.dropdown-menu:after {
        display: none;
        opacity: 0; }
    .daterangepicker.dropdown-menu .calendar {
        margin: 0 0 25px !important;
        max-width: none;
    }
    .daterangepicker.dropdown-menu .calendar .calendar-date {
        padding: 0;
        border-radius: 0;
        border: none; }
    .daterangepicker.dropdown-menu .calendar.second .calendar-date {
        margin-right: 12px }
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed {
        border-collapse: separate;
        border-spacing: 5px; }
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed thead tr:first-child th {
        cursor: default;
    }
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed thead tr th.month {
        text-transform: uppercase;
        font: 16px lato_bold;
    }
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed thead tr th.prev,
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed thead tr th.next {
        font-size: 20px;
        cursor: pointer;
    }
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed thead tr th.prev:hover,
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed thead tr th.next:hover {
        background: none;
        color: #38bad4;
    }
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed thead tr:first-child th {
        border-radius: 0; }
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed thead tr:first-child th select {
        background-color: #f4f4f4;
        font-size: 15px; }
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed thead tr:first-child th select.monthselect {
        width: 58%; }
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed thead tr:first-child th select.yearselect {
        width: 40%; }
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed thead tr:last-child {
        border-bottom: 1px solid #443633; }
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed thead tr:last-child th {
        color: #38bad4;
        font: 10px lato_regular;}
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed tbody {
        border-collapse: separate;
        border-spacing: 5px; }
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed tbody tr {
        border-collapse: separate;
        border-spacing: 5px; }
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed tbody tr td.today {
        border: 1px solid #38bad4;
        border-radius: 0;
    }
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed tbody tr td.available.start-date,
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed tbody tr td.available.start-date:hover,
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed tbody tr td.available.end-date,
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed tbody tr td.available.end-date:hover {
        background-color: #38bad4 !important;
        border-radius: 0!important;
    }
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed tbody tr td.available:hover {
        background-color: #9bdce9;
        border-radius: 0; }
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed tbody tr td.in-range {
        background-color: #9bdce9; }
    .daterangepicker.dropdown-menu .calendar .calendar-date .table-condensed tbody tr td {
        font-size: 14px;
        border-spacing: 5px;
    }
    .daterangepicker .calendar th, .daterangepicker .calendar td {
        min-width: 28px !important;
    }
    .daterangepicker.dropdown-menu .ranges {
        margin: 0 auto!important;
        float: none!important;
    }
    .daterangepicker.dropdown-menu .ranges .range_inputs .daterangepicker_end_input,
    .daterangepicker.dropdown-menu .ranges .range_inputs .daterangepicker_start_input {
        display: none }
    .daterangepicker.dropdown-menu .ranges .range_inputs .daterangepicker_end_input:after {
        content: "";
        clear: both; }
    .daterangepicker.dropdown-menu .ranges .range_inputs .input-mini {
        background-color: #f4f4f4;
        border-radius: 0;
        border: none;
        height: 22px;
        line-height: 22px; }
    .daterangepicker.dropdown-menu .ranges .range_inputs .applyBtn {
        width: 100%;}
    .daterangepicker.dropdown-menu .ranges .range_inputs .applyBtn:hover {
        border: none }
    .daterangepicker.dropdown-menu .ranges .range_inputs .cancelBtn {
        display: none}
/*calendar END*/