body {
  background: url(../img/homepage/homepage_bg.jpg) no-repeat center center fixed;
}
.middle {
  padding-top: 150px;
}
.middle .search_block{
//  display: none;
  width: 420px;
  background: #ffffff;
  /*display: table;*/
  border: 1px solid #efc581;
  outline: 4px solid #f8ddb3;
  padding: 18px 0;
  float: right;
  margin: 34px 19px 34px 0;
}
.middle .search_block.closed {
  height: 60px;
  overflow: hidden;
}

.middle .search_block.closed .search_block_header img{
  -moz-transform: rotate(180deg); /* Mozilla */
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari */
  -o-transform: rotate(180deg); /* Opera */
  transform: rotate(180deg);

  /*-moz-transition: all .2s ease-in-out;*/
  /*-ms-transition: all .2s ease-in-out;*/
  /*-webkit-transition: all .2s ease-in-out;*/
  /*-o-transition: all .2s ease-in-out;*/
  /*transition: all .2s ease-in-out;*/
}
.middle .search_block_header {
  display: table;
  margin: 0 auto;
}
.middle .search_block_header h1{
  color: #544036;
  text-transform: uppercase;
  font-size: 24px;
  float: left;
  margin: 0;
}
.middle .search_block_header img{
  margin: 7px 0 0 34px;
  cursor: pointer;
}
.middle .search_block form {
  font-family:open_sans_bold;
  font-size: 12px;
  padding: 0 59px;
}
.middle .search_block p {
  margin: 0 0 4px 0;
  color: #b6b6b6;
  font-family: open_sans_regular;
}
.middle .search_block_line {
  border: 1px solid #3f322b;
  width: 50%;
  margin: 25px auto 50px;
}
.middle .date_of_coming,
.middle .date_of_leaving,
.middle .num_of_adults,
.middle .num_of_kids,
.middle .age_of_kids,
.middle .search_block_promo_code {
  margin-bottom: 32px;
}

.middle .date_of_coming input,
.middle .date_of_leaving input {
  max-width: 126px;
}
.middle .search_block .selectboxit-container {
  max-width: 126px;
}
.middle .date_of_leaving input {
  float: right;
}
.middle .num_of_kids .selectboxit-container {
  float: right;
}
.middle .age_of_kids .selectboxit-container {
  max-width: 72px;
}
.middle .search_block_separator_line {
  border-bottom: 1px solid #f9f9f9;
  margin: 0 -31px 30px;
}
.middle .search_block_results_button {
  background: #8256a0;
  color: #ffffff;
  margin-bottom: 52px;
}
.middle .search_block_results_button:hover {
  background: #38bad4;
}
.middle .search_block_promo_code {
  font-size: 12px;
  padding-left: 14px;
}
.offers_and_news {
  background: #ffffff;
  width: 100%;
  color: #939393;
  position: absolute;
  bottom: 0px;
  padding-bottom: 40px;
}
.offers_and_news p{
  font-family: open_sans_regular;
  font-size: 13px;
  margin: 20px 0 7px;
  line-height: 1.5;
}
.offers_and_news h3 {
  color: #3f322b;
  font-size: 30px;
  margin: 0;
}
.offers_and_news .offers {
  padding: 35px 74px;
  border-right: 1px solid #f3efef;
}
.offers_and_news .offer_img {
  width: 38%;
}
.offers_and_news .offer_img img{
  width: 100%;
}
.offers_and_news .offer_short_info{
  width: 53%;
}
.offers_and_news .offers_and_news_date{
  color: #38bad4;
  font-family: open_sans_regular;
  font-size: 12px;
  padding-left: 2px;
}

.offers_and_news .offer_blue_line {
  border: 1px solid #38bad4;
  width: 48px;
  margin: 17px 0 3px;
}
.offers_and_news .offer_short_info .offer_price{
  color: #a68858;
  font-size: 34px;
  display: block;
}
.offers_and_news .offer_short_info button{
  color: #a68858;
  border: 1px solid #a68858;
  width: 156px;
  height: 24px;
  background: #ffffff url("../img/more_info_button_arrrow.png") no-repeat right;
  font-family: open_sans_regular!important;
  font-size: 12px;
  text-align: left;
  padding-left: 12px;
  padding-top: 3px;
  margin-top: 6px;
}
.offers_and_news .offer_arrow img{
  margin-right: 35px;
}
.offers_and_news .offers>.row {
  position: relative;
}
.offers_and_news .offer_arrow {
  position:absolute!important;
  top: 0;
  right: 0;
  height: 100%;
  padding-left: 0;
}
.offers_and_news .offer_arrow img {
  position:absolute;
  top:0;
  bottom:0;
  margin:auto;
}
.offers_and_news>.main_container>.row {
  position: relative;
}
.offers_and_news .news {
  padding: 35px 74px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

/*flexSlider customizations START*/
/*.flexslider {*/
/*border-radius: 0;*/
/*border: none;*/
/*margin: 0;*/
/*height: 100%;*/
/*}*/
/*.flex-direction-nav a {*/
/*height: 68px;*/
/*width: 50px;*/
/*margin: -34px 0 0;*/
/*}*/
/*.flex-direction-nav a.flex-prev {*/
/*background: url("/img/homepage/offers/offer_arrow_prev.png") no-repeat left;*/
/*}*/
/*.flex-direction-nav a.flex-next {*/
/*background: url("/img/homepage/offers/offer_arrow_next.png") no-repeat right;*/
/*}*/
/*.flex-direction-nav a:before {*/
/*display: none;*/
/*}*/
/*.flex-direction-nav .flex-next {*/
/*right: 0;*/
/*}*/
/*.flexslider:hover .flex-direction-nav .flex-next {*/
/*right: -50px;*/
/*}*/
/*.flex-direction-nav .flex-prev {*/
/*left: 0;*/
/*}*/
/*.flexslider:hover .flex-direction-nav .flex-prev {*/
/*left: -50px;*/
/*}*/
/*flexSlider customizations END*/




/*REPLACE DATE MODAL STYLES*/
.daterangepicker.dropdown-menu{
  border-top: 2px solid #8256a0;
  border-radius: 0;
  padding: 28px 0;
  max-width: none;

  &:before, &:after{
    display: none;
    opacity: 0;
  }

  .calendar{
    margin: 0 !important;
    padding: 10px 20px !important;
    max-width: none;
    border-right: 1px solid #f9f9f9;

    .calendar-date{
      padding: 0;
      border-radius: 0;
      border: none;

      .table-condensed{
        border-collapse: separate;
        border-spacing: 5px;
        thead{
          tr:first-child{
            th{
              border-radius: 0;
              select{
                background-color: #f4f4f4;
                font-size: 15px;

                &.monthselect{
                  width: 58%;
                }
                &.yearselect{
                  width: 40%;
                }
              }
            }
          }

          tr:last-child{
            border-bottom: 1px solid #443633;
            th{
              font-size: 13px;
              color: #443633;
              font-family: open_sans_regular;
            }
            th:first-child{
              color: #ccc;
              font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            }

          }
        }

        tbody{
          border-collapse: separate;
          border-spacing: 5px;
          tr{
            border-collapse: separate;
            border-spacing: 5px;
            td.available.start-date,
            td.available.end-date{
              border-radius: 0;
              background-color: #8256a0;
            }

            td.available.start-date,
            td.available.start-date:hover{
              border-top-left-radius: 2px;
              border-bottom-left-radius: 2px;
              background-color: #8256a0;
            }

            td.available.end-date,
            td.available.end-date:hover{
              border-top-right-radius: 2px;
              border-bottom-right-radius: 2px;
              background-color: #8256a0;
            }

            td.available:hover{
              background-color: #ffe7c0;
              border-radius: 0;
            }
            td.in-range{
              background-color: #f4f4f4;
            }
            td.available.off{

            }
            td{
              font-size: 13px;
              border-spacing: 5px;
            }
          }
        }
      }
    }
  }

  .ranges{
    padding: 10px 20px !important;
    margin: 0 !important;
    width: 200px;

    .range_inputs{
      .daterangepicker_end_input,
      .daterangepicker_start_input{
        margin-bottom: 70px;

        label{
          font-size: 15px;
          text-transform: capitalize;
        }
      }
      .input-mini{
        background-color: #f4f4f4;
        border-radius: 0;
        border: none;
        height: 22px;
        line-height: 22px;
      }
      .applyBtn{
        margin-top: 30px;
        margin-bottom: -5px;
        display: block;
        width: 100%;
        background-color: #8256a0;
        font-size: 20px;
        border: none;
        border-radius: 2px;

        &:hover{
          background-color: lighten(#8256a0, 7%);
        }
      }
      .cancelBtn{
        border: none;
        border-radius: 2px;;
        width: 100%;
        display: block;
        margin: 0;
        background-color: #38bad4;
        font-size: 20px;
        color: #fff;

        &:hover{
          background-color: darken(#38bad4, 10%);
        }
      }
    }
  }
}