body {
  background: url(../img/rooms/gallery/rooms_introduction_bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

.rooms_main_section {
  /*padding-bottom: 40px;*/
  /* Height of the footer element */
  min-height: 100%;
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  width: 100%;
  min-width: 1150px;
  /*flex: 1;*/
  /*display: flex;*/
  /*flex-direction: column;*/ }

.rooms_main_section > div {
  /*flex: 1;*/
  /*display: flex;*/
  /*flex-direction: column;*/ }

/*.main_container {*/
/*height: 100%;*/
/*}*/
/*.rooms_main_section .main_container div{*/
/*height: 100%;*/
/*}*/
.right_sidebar span {
  font-size: 15px; }

.right_sidebar p {
  margin-top: 35px; }

.right_sidebar button {
  margin-bottom: 110px; }

.rooms_options_list {
  margin-top: 40px; }

.rooms_options_list li {
  padding: 10px 0 10px 53px;
  background: url("../img/rooms/rooms_options_icons_brown/rooms_options_icons.svg") no-repeat;
  margin: 3px 0; }

.rooms_options_list li.room_icon_surface {
  background-position: 0 5px; }

.rooms_options_list li.room_icon_mattress {
  background-position: 0 -51px; }

.rooms_options_list li.room_icon_bed {
  background-position: 0 -105px; }

.rooms_options_list li.room_icon_ac {
  background-position: 0 -157px; }

.rooms_options_list li.room_icon_non_smoking {
  background-position: 0 -212px; }

.rooms_options_list li.room_icon_tv {
  background-position: 0 -266px; }

.rooms_options_list li.room_icon_working_space {
  background-position: 0 -321px; }

.rooms_options_list li.room_icon_wifi {
  background-position: 0 -373px; }

.rooms_options_list li.room_icon_nespresso {
  background-position: 0 -419px; }

.rooms_options_list li.room_icon_minibar {
  background-position: 0 -484px; }

.rooms_options_list li.room_icon_safe {
  background-position: 0 -536px; }

.rooms_options_list li.room_icon_bath {
  background-position: 0 -589px; }

.rooms_options_list li.room_icon_hair_dryer {
  background-position: 0 -642px; }

#double_classic_right_sidebar .rooms_options_list li.room_icon_bed {
  background-position: 0 -94px;
}

#apartment_right_sidebar .rooms_options_list li.room_icon_bed1 {
  background-position: 0 -94px;
}
.sidebar_purple_line {
  border: 1px solid #8256a1; }

.book_the_room_button {
  background: #8256a1;
  margin-top: 18px;
  width: 100%;
  color: #ffffff;
  font-family: lato_regular;
  font-size: 16px; }

.book_the_room_button:hover {
  background: #38bad4; }

/*flex slider adjustment START*/
.right_sidebar p {
  color: #E7D0AA; }

.right_sidebar .slides {
  margin: 0;
  padding: 0; }

.slides li img {
  width: 32% !important;
  float: left;
  border: 3px solid #ffe7c0;
  margin-left: 9px;
  cursor: pointer; }

.slides li img:first-child {
  margin-left: 0; }

.flexslider {
  margin: 21px 0 40px;
  height: auto;
  width: 492px; }

.flex-direction-nav a {
  height: 68px;
  width: 30px;
  margin: -34px 0 0; }

.flex-direction-nav a.flex-prev {
  background: url("/img/rooms/rooms_gallery_arrow_prev.png") no-repeat left; }

.flex-direction-nav a.flex-next {
  background: url("/img/rooms/rooms_gallery_arrow_next.png") no-repeat right; }

.flexslider:hover .flex-direction-nav .flex-next {
  right: -29px; }

.flexslider:hover .flex-direction-nav .flex-prev {
  left: -30px; }

/*flexslider adjustment END*/
/*switch room tipes information on right sidebar START*/
#rooms_introduction_right_sidebar {
  display: block; }

#rooms_introduction_right_sidebar p {
  line-height: 1.5;
  /*padding-bottom: 600px;*/
}

.right_sidebar {
  display: none; }

.right_sidebar {
  padding: 190px 60px 43px 60px; }

/*switch room tipes information on right sidebar END*/

/*# sourceMappingURL=rooms.css.map */
