body {
    background: url(../img/rooms/gallery/011.jpg) no-repeat center center fixed;
}

.rooms_main_section {
    padding-bottom:40px; /* Height of the footer element */
    min-height: 100%;
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    width: 100%;
    /*flex: 1;*/
    /*display: flex;*/
    /*flex-direction: column;*/
}
.rooms_main_section>div {
    /*flex: 1;*/
    /*display: flex;*/
    /*flex-direction: column;*/
}

/*.main_container {*/
    /*height: 100%;*/
/*}*/
/*.rooms_main_section .main_container div{*/
    /*height: 100%;*/
/*}*/


.right_sidebar span{
    font-size: 15px
}
.right_sidebar p {
    margin-top: 35px;
}

.right_sidebar button {
    margin-bottom: 110px;
}
.rooms_options_list {
    margin-top: 40px;
}
.rooms_options_list li{
    padding: 10px 53px;
    background: url("../img/rooms/rooms_options_icons_brown/rooms_options_icons.png") no-repeat;
    margin: 3px 0;
}
.rooms_options_list li:nth-child(2){
    background-position: 0 -37px;
}
.rooms_options_list li:nth-child(3){
    background-position: 0 -78px;
}
.rooms_options_list li:nth-child(4){
    background-position: 0 -119px;
}
.rooms_options_list li:nth-child(5){
    background-position: 0 -156px;
}
.rooms_options_list li:nth-child(6){
    background-position: 0 -195px;
}
.rooms_options_list li:nth-child(7){
    background-position: 0 -237px;
}
.rooms_options_list li:nth-child(8){
    background-position: 0 -277px;
}
.rooms_options_list li:nth-child(9){
    background-position: 0 -321px;
}
.rooms_options_list li:nth-child(10){
    background-position: 0 -364px;
}
.sidebar_purple_line {
    border: 1px solid #8256a1;
}
.book_the_room_button {
    background: #8256a1;
    margin-top: 18px;
    width: 100%;
    color: #ffffff;
    font-family: pt_serif;
    font-size: 16px;
}
.book_the_room_button:hover {
    background: #38bad4;
}
.rooms_types_buttons {
    padding-top: 225px;
    padding-left: 49px;
    display: table;
}
.room_type {
    /*background-color: rgba(75, 61, 54, 0.9);*/
    color: #d4c0a4;
    text-align: center;
    margin: 0 10px 20px;
    width: 188px;
    float: left;
}
.room_price_block:hover {
    background: url("../img/rooms/room_type_bg.png") no-repeat;
    /*-webkit-filter: grayscale(0%);*/
    /*-moz-filter: grayscale(0%);*/
    /*-ms-filter: grayscale(0%);*/
    /*-o-filter: grayscale(0%);*/
    /*filter: grayscale(0%);*//*/*/
    /*filter: none; *//**//* IE 6-9 *//**//*;*/
}
.active .room_price_block {
    background: url("../img/rooms/room_type_bg.png") no-repeat;
}
.room_price_block {
    border: 1px  solid rgba(255, 255, 255, 0.31);
    border-bottom: none;
    height: 150px;
    position: relative;
    background: url("../img/rooms/room_type_bg2.png") no-repeat;

    /*-webkit-filter: grayscale(100%);*/
    /*-moz-filter: grayscale(100%);*/
    /*-ms-filter: grayscale(100%);*/
    /*-o-filter: grayscale(100%);*/
    /*filter: grayscale(100%);*/
    /*filter: url(grayscale.svg); *//* Firefox 4+ */
    /*filter: gray; *//* IE 6-9 *//*;*/
}
.room_price {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 45%;
    left: 23%;
    font: 14px open_sans_bold;
    color: #ffffff;
    padding: 11px 19px 8px;
}
.room_type_name {
    background: #9369b4;
    /*height: 41px;*/
}
.room_type_name h5 {
    padding: 12px;
    font: 13px open_sans;
    color: #ffffff;
    text-transform: uppercase;
}
/*.room_type h5{*/
    /*padding: 48px 0 20px;*/
    /*font-size: 21px;*/
/*}*/
/*.room_type span{*/
    /*display: block;*/
    /*font-size: 15px;*/
/*}*/
/*span.room_price {*/
    /*padding: 18px 0 30px;*/
    /*color: #f6cd8c;*/
    /*font-size: 19px;*/
/*}*/
/*flex slider adjustment START*/

.right_sidebar p {
    color: #E7D0AA;
}
.right_sidebar .slides {
    margin: 0;
    padding: 0;
}
.slides li img {
    width: 32%!important;
    float: left;
    border: 3px solid #ffe7c0;
    margin-left: 9px;
    cursor: pointer;
}
.slides li img:first-child {
    margin-left: 0;
}
.flexslider {
    margin: 21px 0 110px;
    height: auto;
    width: 492px;
}
.flex-direction-nav a {
    height: 68px;
    width: 30px;
    margin: -34px 0 0;
}
.flex-direction-nav a.flex-prev {
    background: url("/img/rooms/rooms_gallery_arrow_prev.png") no-repeat left;
}
.flex-direction-nav a.flex-next {
    background: url("/img/rooms/rooms_gallery_arrow_next.png") no-repeat right;
}
.flexslider:hover .flex-direction-nav .flex-next {
    right: -29px;
}
.flexslider:hover .flex-direction-nav .flex-prev {
    left: -30px;
}
/*flexslider adjustment END*/

/*switch room tipes information on right sidebar START*/

    #single_classic_right_sidebar {
        display: block;
    }
    .right_sidebar {
        display: none;
    }
/*switch room tipes information on right sidebar END*/