body {
  background: url(../img/rooms/gallery/rooms_introduction_bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

.right_sidebar span {
  font-size: 15px; }

.right_sidebar .page_icon {
    background-position: 0 -27px;
}
/*.right_sidebar button {*/
  /*margin-bottom: 110px; }*/

.rooms_options_list {
  margin-top: 40px; }

.rooms_options_list li {
  padding: 10px 0 10px 53px;
  background: url("../img/rooms/rooms_options_icons_brown/rooms_options_icons.svg") no-repeat;
  margin: 3px 0; }

.rooms_options_list li.room_icon_surface {
  background-position: 0 5px; }

.rooms_options_list li.room_icon_mattress {
  background-position: 0 -51px; }

.rooms_options_list li.room_icon_bed {
  background-position: 0 -105px; }

.rooms_options_list li.room_icon_ac {
  background-position: 0 -157px; }

.rooms_options_list li.room_icon_non_smoking {
  background-position: 0 -212px; }

.rooms_options_list li.room_icon_tv {
  background-position: 0 -266px; }

.rooms_options_list li.room_icon_working_space {
  background-position: 0 -321px; }

.rooms_options_list li.room_icon_wifi {
  background-position: 0 -373px; }

.rooms_options_list li.room_icon_nespresso {
  background-position: 0 -419px; }

.rooms_options_list li.room_icon_minibar {
  background-position: 0 -484px; }

.rooms_options_list li.room_icon_safe {
  background-position: 0 -536px; }

.rooms_options_list li.room_icon_bath {
  background-position: 0 -589px; }

.rooms_options_list li.room_icon_hair_dryer {
  background-position: 0 -642px; }

#double_classic_right_sidebar .rooms_options_list li.room_icon_bed {
  background-position: 0 -94px;
}

#apartment_right_sidebar .rooms_options_list li.room_icon_bed1 {
  background-position: 0 -94px;
}
.sidebar_purple_line {
  border: 1px solid #8256a1; }

.book_the_room_button {
  background: #8256a1;
  margin-top: 18px;
  width: 100%;
  color: #ffffff;
  font-family: lato_regular;
  font-size: 16px; }

.book_the_room_button:hover {
  background: #38bad4; }

/*flex slider adjustment START*/
    /*.right_sidebar .slides {*/
      /*margin: 0;*/
      /*padding: 0; }*/

    /*.slides li img {*/
      /*width: 32% !important;*/
      /*float: left;*/
      /*border: 3px solid #ffe7c0;*/
      /*margin-left: 9px;*/
      /*cursor: pointer; }*/

    /*.slides li img:first-child {*/
      /*margin-left: 0; }*/

    /*.flexslider {*/
      /*margin: 21px 0 40px;*/
      /*height: auto;*/
      /*width: 492px; }*/

    /*.flex-direction-nav a {*/
      /*height: 68px;*/
      /*width: 30px;*/
      /*margin: -34px 0 0; }*/

    /*.flex-direction-nav a.flex-prev {*/
      /*background: url("/img/rooms/rooms_gallery_arrow_prev.png") no-repeat left; }*/

    /*.flex-direction-nav a.flex-next {*/
      /*background: url("/img/rooms/rooms_gallery_arrow_next.png") no-repeat right; }*/

    /*.flexslider:hover .flex-direction-nav .flex-next {*/
      /*right: -29px; }*/

    /*.flexslider:hover .flex-direction-nav .flex-prev {*/
      /*left: -30px; }*/
/*flexslider adjustment END*/

/*carousel START*/
    .right_sidebar .carousel.slide {
        margin-top: 40px;
    }
    .right_sidebar .carousel-inner .item img {
        width: 32% !important;
        float: left;
        border: 3px solid #ffe7c0;
        margin-left: 9px;
        cursor: pointer;
    }
    .right_sidebar .carousel-inner .item img:first-child {
        margin-left: 0;
    }
    .right_sidebar .carousel-control {
        background-image: none;
        width: 30px;
    }
    .right_sidebar .carousel-control.right {
        right: -28px;
    }
    .right_sidebar .carousel-control.left {
        left: -30px;
        /*display: none;*/
    }
    .right_sidebar .carousel-control.right .glyphicon-chevron-right:before,
    .right_sidebar .carousel-control.left .glyphicon-chevron-left:before {
        content: "";
        display: block;
        background: url("/img/rooms/rooms_gallery_arrow_next.png") no-repeat right;
        width: 30px;
        height: 50px;
    }

    .right_sidebar .carousel-control.left .glyphicon-chevron-left:before {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
    }
    .right_sidebar .carousel-control .glyphicon-chevron-right,
    .right_sidebar .carousel-control .glyphicon-chevron-left {
        margin-top: -23px;
    }

/*carousel END*/

/*switch room tipes information on right sidebar START*/
    .right_sidebar {
        display: none;
    }

    #rooms_introduction_right_sidebar {
      display: block;
    }
/*switch room tipes information on right sidebar END*/

/*# sourceMappingURL=rooms.css.map */
